//colors
$text-color: #c20114;
$text-addition-color: #2cabd8;
$background-color: #080705;
$background-addition-color: #1e1d1b; //lighten($background-color, 10);
$glow-color: #c20114;
$glow-addition-color: #2cabd8;
